.site-main{
    width: calc(100%);
    margin: 0 auto;
    padding: 0 6px 0 2px;
}
.entry-content .woocommerce{
    display: grid;
}

@media screen and (max-width: 2560px) {
    .entry-content .woocommerce{
        grid-template: 1fr / 320px 1fr;
        column-gap: 15px;
    }
}
@media screen and (max-width: 769px) {
    .entry-content .woocommerce{
        grid-template: 1fr / 180px 1fr;
        column-gap: 15px;
    }
}
@media screen and (max-width: 426px) {
    .entry-content .woocommerce{
        grid-template: 1fr / 45px 1fr;
        column-gap: 15px;
    }
}
.woocommerce-account .woocommerce-MyAccount-navigation{
    display: grid;
    justify-content: center;
}
.woocommerce-account .woocommerce-MyAccount-content{
    color: white;
    justify-self: center;
    width: 100%;
    padding: 1.5rem 29px 0;
    min-width: 300px;
    background-image: url("./../images/big-data-analytics-banner 1.png"),
    linear-gradient(135.01deg, #005B80 18.3%, #003A68 85.56%);
    background-size: cover;
    position: relative;
}
.woocommerce-notices-wrapper{
    display: none;
}
@media screen and (max-width: 320px){
    .woocommerce-account .woocommerce-MyAccount-content{
        padding: 1.5rem 6px 0;
        min-width: 250px;
    }
}
.woocommerce-account .woocommerce-MyAccount-content h2{
    color: white;
}
.woocommerce-MyAccount-navigation{
    padding-top: calc(1.5rem + 55px);
}
.woocommerce-MyAccount-navigation ul{
    position: relative;
}
.woocommerce-MyAccount-navigation ul:before{
    content: url("./../images/aside_logo_big.png");
    position: absolute;
    width: 100%;
    height: 45px;
    left: 0;
    top: -55px;
}
.woocommerce-MyAccount-navigation ul li a{
    padding-left: 8px;
    align-content: center;
}
.woocommerce-MyAccount-navigation ul li a:after{
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: end;
    left: 0;
    top: 4px;
    padding-right: 8px;
    align-content: center;
}
.woocommerce-MyAccount-navigation-link--my_account a:after{
    content: url("./../images/aside_icons/ico1.png");
}.woocommerce-MyAccount-navigation-link--my_account.is-active a:after{
     content: url("./../images/aside_icons/ico1w.png");
 }.woocommerce-MyAccount-navigation-link--my_account:hover a:after{
     content: url("./../images/aside_icons/ico1w.png");
 }
.woocommerce-MyAccount-navigation-link--career a:after{
    content: url("./../images/aside_icons/ico2.png");
}.woocommerce-MyAccount-navigation-link--career.is-active a:after{
     content: url("./../images/aside_icons/ico2w.png");
 }.woocommerce-MyAccount-navigation-link--crreer:hover a:after{
     content: url("./../images/aside_icons/ico2w.png");
 }
.woocommerce-MyAccount-navigation-link--offering a:after{
    content: url("./../images/aside_icons/ico3.png");
}.woocommerce-MyAccount-navigation-link--offering.is-active a:after{
     content: url("./../images/aside_icons/ico3w.png");
 }.woocommerce-MyAccount-navigation-link--offering:hover a:after{
     content: url("./../images/aside_icons/ico3w.png");
 }
.woocommerce-MyAccount-navigation-link--spec a:after{
    content: url("./../images/aside_icons/ico4.png");
}.woocommerce-MyAccount-navigation-link--spec.is-active a:after{
     content: url("./../images/aside_icons/ico4w.png");
 }.woocommerce-MyAccount-navigation-link--spec:hover a:after{
     content: url("./../images/aside_icons/ico4w.png");
 }
.woocommerce-MyAccount-navigation-link--my_income a:after{
    content: url("./../images/aside_icons/ico5.png");
}.woocommerce-MyAccount-navigation-link--my_income.is-active a:after{
     content: url("./../images/aside_icons/ico5w.png");
 }.woocommerce-MyAccount-navigation-link--my_income:hover a:after{
     content: url("./../images/aside_icons/ico5w.png");
 }
.woocommerce-MyAccount-navigation-link--send a:after{
    content: url("./../images/aside_icons/ico6.png");
}.woocommerce-MyAccount-navigation-link--send.is-active a:after{
     content: url("./../images/aside_icons/ico6w.png");
 }.woocommerce-MyAccount-navigation-link--send:hover a:after{
     content: url("./../images/aside_icons/ico6w.png");
 }
.woocommerce-MyAccount-navigation-link--convert a:after{
    content: url("./../images/aside_icons/ico7.png");
}.woocommerce-MyAccount-navigation-link--convert.is-active a:after{
     content: url("./../images/aside_icons/ico7w.png");
 }.woocommerce-MyAccount-navigation-link--convert:hover a:after{
     content: url("./../images/aside_icons/ico7w.png");
 }
.woocommerce-MyAccount-navigation-link--top_up a:after{
    content: url("./../images/aside_icons/ico8.png");
}.woocommerce-MyAccount-navigation-link--top_up.is-active a:after{
     content: url("./../images/aside_icons/ico8w.png");
 }.woocommerce-MyAccount-navigation-link--top_up:hover a:after{
     content: url("./../images/aside_icons/ico8w.png");
 }
.woocommerce-MyAccount-navigation-link--withdraw a:after{
    content: url("./../images/aside_icons/ico9.png");
}.woocommerce-MyAccount-navigation-link--withdraw.is-active a:after{
     content: url("./../images/aside_icons/ico9w.png");
 }.woocommerce-MyAccount-navigation-link--withdraw:hover a:after{
     content: url("./../images/aside_icons/ico9w.png");
 }
.woocommerce-MyAccount-navigation-link--support a:after{
    content: url("./../images/aside_icons/ico10.png");
}.woocommerce-MyAccount-navigation-link--support.is-active a:after{
     content: url("./../images/aside_icons/ico10w.png");
 }.woocommerce-MyAccount-navigation-link--support:hover a:after{
     content: url("./../images/aside_icons/ico10w.png");
 }
.woocommerce-MyAccount-navigation-link--referral a:after{
    content: url("./../images/aside_icons/ico11.png");
}.woocommerce-MyAccount-navigation-link--referral.is-active a:after{
     content: url("./../images/aside_icons/ico11w.png");
 }.woocommerce-MyAccount-navigation-link--referral:hover a:after{
     content: url("./../images/aside_icons/ico11w.png");
 }

nav.woocommerce-MyAccount-navigation{
}
nav.woocommerce-MyAccount-navigation ul{
    display: grid;
    grid-template-columns: 170px;
    grid-auto-rows: 45px;
    row-gap: 10px;
    list-style: none;
}
li.woocommerce-MyAccount-navigation-link{
    position: relative;
}
li.woocommerce-MyAccount-navigation-link a{
    display: grid;
    padding: 3px 6px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: linear all .2s;
    border: 1px solid black;
}
li.woocommerce-MyAccount-navigation-link a:hover{
    background-color: #005B80;
    color: white;
    /*text-shadow: 1px 1px 1px grey;*/
}
@media screen and (max-width: 426px){
    .woocommerce-MyAccount-navigation{
        width: 61px !important;
        padding-top: calc(1.5rem + 40px);
        /*padding-left: 2px;*/
        /*padding-right: 2px;*/
    }
    nav.woocommerce-MyAccount-navigation ul{
        grid-template-columns: 45px;
        row-gap: 4px;
    }
    .woocommerce-MyAccount-navigation ul li a{
        color: transparent !important;
        overflow: hidden;
    }
    .woocommerce-MyAccount-navigation ul li a:after{
        justify-content: center;
        padding: 0;
    }
    .woocommerce-MyAccount-navigation ul:before{
        content: url("./../images/aside_logo_small.png");
        position: absolute;
        width: 100%;
        height: 45px;
        left: -6px;
        top: -60px;
    }
}

.not_finish_banner{
    margin-top: 23px;
    width: 100%;
    height: 560px;
    background-image: url("../../assets/images/banner_not_finish.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.u-column1.col-1 .logo{
    margin-bottom: 25px;
    display: grid;
    justify-content: center;
}
.u-column1.col-1 h2, .u-column2.col-2 h2{
    text-align: center;
}
.u-column1.col-1 label, .u-column2.col-2 label{
    position: relative;
}
.u-column1.col-1 .required, .u-column2.col-2 .required{
    position: absolute;
    right: 0;
    display: none;
}
.woocommerce-button{
    padding: 0.618em 2em !important;
    background-color: rgb(0,91,128) !important;
    color: white !important;
    border-radius: 2rem !important;
}
.woocommerce-button:hover{
    background-color: rgb(0, 70, 105) !important;
}
.validation_error{
    position: absolute;
    right: 0;
    font-weight: 500;
    color: #940000;
}