.offering, .spec{
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 30px;
}
.offer{
    padding: 10px;
    box-shadow: 2px 2px 5px grey;
    border-radius: .25rem;
    height: fit-content;
}
.best-offers__main, .unlimited-offers__main{
    justify-items: center;
    display: grid;
    justify-content: space-evenly;
    column-gap: 12px;
    row-gap: 22px;
}
.best-offers__main{
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.unlimited-offers__main{
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.contract {
    border: 2px solid dimgray;
    padding: 6px 12px;
    display: inline-grid;
    row-gap: 10px;
    text-align: center;
    min-width: 284px;
    max-width: 320px;
}
.contract .btn{
    width: 120px;
    margin: 0 auto;
}
.best-offers__footer, .unlimited-offers__footer{
    margin-top: 20px;
}

.best-offers__footer span, .unlimited-offers__footer span{
    color: red;
}
.spec .modal{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.8);
    display: none;
}
.spec .modal .modal__main{
    position: relative;
    width: 90%;
    min-width: 300px;
    height: 90%;
    top: 8%;
    margin: 0 auto;
    padding: 2%;
    border: 1px solid dimgray;
    border-radius: .25rem;
    background-color: whitesmoke;
}
.spec .modal .buttons{
    margin-top: 30px;
    display: grid;
    grid-template: min-content / auto auto;
    justify-content: space-between;
}
.spec .modal.active{
    display: block;
    animation: open_modal .4s;
}
.modal__main{
    display: grid;
    justify-content: center;
    align-items: center;
}
.modal__main .interface{
    position: revert;
    display: inline-grid;
    grid-template:
            [start] "label deposit_amount" min-content [row2]
            [row2] "contract_info contract_info" min-content [row3]
            [row3] "buttons buttons" 80px [row-end] / auto 1fr;
    row-gap: 2%;
    column-gap: 2%;
    padding: 2px;
    box-shadow: 0 0 3px lightgrey;
}
.modal__main .interface label{
    /*display: inline-grid;*/
    grid-template: fit-content(200px) / auto;
    /*background-color: rgba(154, 205, 50, 0.2);*/
    /*background-color: rgba(100, 149, 237, 0.1);*/
    border-radius: .25rem;
    padding: 2px 4px;
}
.modal__main  .interface.bill{
}
.modal__main .interface .contract_info{
    /*display: inline-grid;*/
    grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    align-content: center;
}
.contract_info > div{
    padding: 2px 4px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 25px;
}
.contract_info > div:nth-child(odd){
    background-color: rgba(100, 149, 237, 0.1);
}
.contract_info div div:nth-child(2){
    text-align: right;
}
.modal__main .interface .bill{
    background-color: rgba(100, 149, 237, 0.1);
    grid-area: label;
}
.modal__main .interface .deposit_amount{
    background-color: rgba(100, 149, 237, 0.1);
    grid-area: deposit_amount;
}
.modal__main .interface .contract_info{
    grid-area: contract_info;
}
.modal__main .interface .buttons{
    grid-area: buttons;
}
@keyframes open_modal {
    0%{opacity: 0}
    100%{opacity: 1}
}